.heading {
	text-align: left;	
}

#Ladies {
	text-align: center;
}
#Gentlemen {
	text-align: center;
}
.afterheading {
	text-align: center;
}
.footer {
	text-align: center;
}
a {
	color: black;
}
address {
	text-align: center;
}
#searchbox {
	text-align: right;
}
#login {
	text-align: left;
}
#mainphoto
	{text-align: center;
}